<div class="container">
<div class="well", style="text-align: center" >
<h1>Editing Todo List</h1>
</div>
<div class="well">
 <%= render 'form' %>
</div>

<%= link_to 'Show', @todo_list, class: "btn btn-defult" %> |
<%= link_to 'Back', todo_lists_path, class: "btn btn-defult"  %>
</div>