<body class="blsbody" background-image:"11.jpg">
<div class ="titls">
      <center>
          <h1 class="border2 font123">   <font color="black" > Basic life skills </font></h1>
        </center>
</div>

<div class="steps">
    <div class="boxes">
  <center>
    <div class ="box4">

        
        		<iframe controls class="r" width="400" height="300" src="https://www.youtube.com/embed/tPD5HwcwwN0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
            <p class="l"> Ambu. Bag Ventilation </p>
        </div>
  </center>
  <center>
        <div class ="box2">
        <iframe controls class="r" width="400" height="300" src="https://www.youtube.com/embed/AZtKLIonXos" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p class="l">Blood Pressure</p>
        </div>
</center>
    <center>
        <div class ="box3">
       <iframe controls class="r" width="400" height="300" src="https://www.youtube.com/embed/cW7WBOA1d-A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p class="l"> Pulse </p>
        </div>
    </center>
        <br>
    <div class=" nel">
          <button type="button" class="btn btn-outline-info" onclick="window.location.href='injection.html'">injection</button>
    </div>
    <div class="ner">
        <button type="button" class="btn btn-outline-info"onclick="window.location.href='basic%20life%20support.html'">basic life support</button>
    </div>

  </div>
</div>
  <br>
  <br>

</body>