<div class="well"> Articls </div>
<div class="container">
		<h1> National treatment programme of hepatitis C in Egypt: Hepatitis C virus model of care </h1>
	<div class="wellس">
		<h6> Abstract </h6>
		<p> 
Hepatitis C virus (HCV) infection is a major health problem in Egypt as the nation bears the highest prevalence rate worldwide. This necessitated establishing a novel model of care (MOC) to contain the epidemic, deliver patient care and ensure global treatment access. In this review, we describe the process of development of the Egyptian model and future strategies for sustainability. Although the magnitude of the HCV problem was known for many years, the HCV MOC only came into being in 2006 with the establishment of the National Committee for Control of Viral Hepatitis (NCCVH) to set up and implement a national control strategy for the disease and other causes of viral hepatitis. The strategy outlines best practices for patient care delivery by applying a set of service principles through identified clinical streams and patient flow continuums. The Egyptian national viral hepatitis treatment programme is considered one of the most successful and effective public health programmes. To date, more than one million patients were evaluated and more than 850 000 received treatment under the umbrella of the programme since 2006. The NCCVH has been successful in establishing a strong infrastructure for controlling viral hepatitis in Egypt. It established a nationwide network of digitally connected viral hepatitis-specialized treatment centres covering the country map to enhance treatment access. Practice guidelines suiting local circumstances were issued and regularly updated and are applied in all affiliated centres. This review illustrates the model and the successful Egyptian experience. It sets an exemplar for states, organizations and policy-makers setting up programmes for care and management of people with hepatitis C. </p>
	</div>
</div>

<div class="container">
		<h1> Epidemiology of and Risk Factors for Type 2 Diabetes in Egypt. </h1>
	<div class="wellس">
		<h6> Abstract </h6>
		<p> 
<strong>BACKGROUND:</strong>
Diabetes is a fast-growing health problem in Egypt with a significant impact on morbidity, mortality, and health care resources. Currently, the prevalence of type 2 diabetes (T2D) in Egypt is around 15.6% of all adults aged 20 to 79.
<br>
<br>
<strong>OBJECTIVE:</strong>
To describe the epidemiology, principal causes, associated risk factors, cultural aspects, and challenges that may contribute to the rapid rise in T2D in Egypt.
<br>
<br>
<strong>METHODS:</strong>
Review of papers in PubMed and relevant gray literature.
<br>
<br>
<strong>FINDINGS:</strong>
The International Diabetes Federation (IDF) has identified Egypt as the ninth leading country in the world for the number of patients with T2D. The prevalence of T2D in Egypt was almost tripled over the last 2 decades. This sharp rise could be attributed to either an increased pattern of the traditional risk factors for T2D such as obesity and physical inactivity and change in eating pattern or other risk factors unique to Egypt. These include increased exposure to environmental risk factors like pesticides and increased prevalence of chronic hepatitis C.
<br>
<br>
<strong>CONCLUSIONS:</strong>
Prevention, early identification, and effective intervention are integral components of effective T2D care in Egypt. These strategies may reduce the expanding economic burden associated with T2D care.	</div>
</div>